/* configuração do primeiro botão */
.btn {
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--bg-color);

  border: none; /* na tag button do html por padrão eles tem bordas então vamos retirar elas  */

  background-color: transparent; /* na tag button do html por padrão eles tem background branco então vamos retirar eles  */

  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content; /* largura conforme o conteudo ele ira se encaixar */

  border-radius: 0.5rem;

  font-family: var(--ff-sans);
  font-size: var(--fs-base)/1.5rem;
  font-weight: var(--fw-md);

  cursor: pointer;

  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}
.btn:hover {
  --btn-bg-color: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
  background: var(--btn-bg-color);
  --btn-color: var(--surface-color);
}
/* *********************************** */

/* criando o segundo botão  */
.btn[aria-label] {
  position: relative;
  /* criando borda degrade e fundo transparente  */
  &::before {
    content: "";
    position: absolute;
    inset: 0.093rem;
    border-radius: inherit;
    background-color: var(--bg-color);
  }

  /* criando texto em degrade */
  &::after {
    content: attr(aria-label);
    background: var(--btn-bg-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
  }
}
 

.btn-sm {
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md {
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}